<footer id="myFooter">
        <div class="footer-social">
            <p style="font-size: 1.5em">
                Made by Donnie Ellstrom &copy; 2017
            </p>
            <a href="https://github.com/Crateros" class="social-icons"><i class="fa fa-github"></i></a>
            <a href="http://donnellstrom.com" class="social-icons"><i class="fa fa-briefcase"></i></a>
            <a href="https://twitter.com/sven_dellstrom" class="social-icons"><i class="fa fa-twitter"></i></a>
        </div>
    </footer>
