<header role="banner" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="navbar-inverse side-collapse in">
            <nav role="navigation" class="navbar-collapse">
                <ul class="nav navbar-nav">
                  <li style="margin: 0 auto; padding-top: 13px; padding-right: 10px;">
                    <div style="background-color: dodgerblue; border-radius: 50px; margin: 0 auto; width: 150px; text-align: center;">
                      <p style="font-family: 'Lobster', sans-serif; color: white; margin: 0 auto; font-size: 24px; font-weight: bolder;">
                        Between Bots
                      </p>
                    </div>
                  </li>
                    <li id="status">
                        {% for status in botstatus %}
                          {% if status.onstatus %}
                            <p class="svenBot">Sven Dellstrom is tweeting <img class="statuslight" src="../static/images/green.svg"></p>
                          {% else %}
                            <p class="svenBot">Sven Dellstrom is sleeping <img class="statuslight" src="../static/images/red.png"></p>
                          {% endif %}
                        {% endfor %}
                    </li>
                    <li id="toby"><a id="tobias" href="http://mrdrbot.herokuapp.com/">My best friend: Tmrdrr Bot</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
